# URL da API do LLM
# Padrão OpenAI: https://api.openai.com/v1/chat/completions
# Padrão Gemini (OpenAI Compatible): https://generativelanguage.googleapis.com/v1beta/openai/chat/completions
LLM_API_URL=https://generativelanguage.googleapis.com/v1beta/openai/chat/completions

# Chave de API secreta (Substitua pela sua chave real)
LLM_API_KEY=sua_api_key_do_google_aqui

# Modelo a ser utilizado (ex: gpt-3.5-turbo, gpt-4o, gemini-2.5-flash)
LLM_MODEL=gemini-2.5-flash